[Unit]
Description=add tracker to torrent
After=network.target network-online.target
Wants=network-online.target

[Service]
User=patrick
Type=oneshot
#Your WorkingDirectory
WorkingDirectory=/usr/share/transmission-trackers-service
ExecStart=python3 transmission-trackers-service.py


[Install]
WantedBy=multi-user.target